 
  <!-- 尾部 -->
<div class="main-footer">
<div class="container">
	<footer id="footer">
	<div class="row">
        <div class="col-md-4">
         <div class="widget">
                 <h4  class="title" > <span style="font-weight:700;">Overview </span></h4>
                    <div class="content   recent-post">
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">About OrangeplayTV</a>
                       </div>
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Blog</a>
                       </div>
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">JPKR TV</a>
                       </div> 

                  </div>
          </div>
     </div>


     <div class="col-md-4">
         	  <div class="widget">
                 <h4  class="title"><span style="font-weight:700;">Get In Touch </span></h4>
                    <div class="content  recent-post">
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Copyright</a>
                       </div>
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Submit Video</a>
                       </div>
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Contact</a>
                       </div> 

                  </div>
                  </div>
     </div>

     <div class="col-md-4">
           
            <div class="widget">
                 <h4  class="title"><span style="font-weight:700;">We’re Social </span></h4>
                    <div class="content   recent-post">
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Facebook</a>
                       </div>
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Twitter</a>
                       </div>
                       <div class="recent-single-post">
                          <a href="#" class="post-tile">Youtube</a>
                       </div> 

                    </div>  
             </div>
     </div>




	</div>
	</footer>
</div>
</div>

</body>
</html>