<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> -->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <!--  <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet"  href="/stylesheets/special.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    
  </head>
<body>








